html, body { height: 100%; }
body { display:flex; flex-flow: column nowrap; }
header, footer { background-color: #888; max-height: 40px; min-height: 40px; }
header, footer { text-align: center; }
article { flex: 1; margin: 1em auto; width: 1024px; border: 1px solid #000; }
article div, article pre { margin: 0.5em; }
#graph pre { overflow: scroll; border: 1px solid #000; max-height: 1024px; }
#actions .bar { padding: 0.5em; margin: 0.5em; border: 1px solid #000; }
