<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8" />    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">     
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <style type='text/css'>
    </style>
    {% endblock %}      
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active ">
              <a class="nav-link" href="#">#<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static/sample-ami-meter-data-origin-20160401_20170401.csv">Sample</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <article id="content">
      <div>
        {% block content %}{% endblock %}
      </div>
    </article>
    <footer>
      {% block footer %}
      &copy;
      {% endblock %}
    </footer>
  </body>
</html>
