{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div>
<form method="post" enctype="multipart/form-data">
  <input type=file name=file>&nbsp;<button type="submit" class="btn btn-secondary">Upload</button>
</form>
</div>
<div id='data'>
  {% if payload %}
    <div id="meta">
      <h3>Data Loaded</h3>
      <div>
        {% for k,v in meta | dictsort  %}
          <strong>{{ k }}:</strong>&nbsp;<span>{{ v }}</span><br/>
        {% endfor %}
      </div>
    </div>
    <div id="actions">
      <h3>Plot Actions</h3>
      <div class="bar">
        {% for key in splits %}
          <a href="/{{ key }}" class="badge badge-primary">{{ key }}</a>
        {% endfor %}
      </div>
    </div>
    <script>
      payload={{ payload | tojson }}
    </script>
  {% endif %}
  <div id="graph">
    <pre>
{{ payload | tojson(indent=2) }}
    </pre>
  </div>
</div>
{% endblock %}
